header{
	text-align: center;
	font-size: 35px;
}
h1, h3{
	font-family: helvetica;
	font-weight: bold;
	text-align: center;
	color: darkgreen;
}
h2, h3{
	text-decoration: underline;
	font-size: 25px;
	color: darkgreen;
}
nav ul li{
	display: inline;
}
ul li img{
	width: 25px;
	height: auto;
}
.top-nav{
	background-color: lightgreen;
	border: 5px groove darkgreen;
	border-radius: 10px;
	font-size: 25px;
	width:100%;
	padding: 30px;
	text-align: center;
 	 -webkit-box-sizing: border-box;
     	-moz-box-sizing: border-box;
          box-sizing: border-box;
}
.top-nav li{
	margin: 0 0 6px 0;
  padding: 0 60px 0 60px;
  position: relative;
  list-style: none;
}
a:hover, a:active{
	opacity: .50;
}
.active{
	font-weight: bold;
}
#sidebar{
	width: 250px;
	float: right;
	border: 2px groove green;
	border-radius: 5px;
	margin: 0 10px 5px 10px;
	padding: 0 10px 0 10px;
}
#sidebar li{
	list-style-type: none;
}
.poem{
	list-style-type: none;
	font-size: 20px;
	color: maroon;
	background-image: url(crows.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 35%;
	margin: 50px;
	padding: 25px;
}

p{
	text-indent: 25px;
	font-family: helvetica;
}
p3{
	font-family: helvetica;
	font-size: 15px;
}
p::first-letter{
	font-size: 20px;
	font-weight: bold;
}

.bio-photo{
	float: left;
	border: 2px groove green;
	border-radius: 5px;
	margin: 0 10px 5px 10px;
	padding: 20px 20px 20px 0;
	text-align: center;
	font-family: helvetica;
	font-size: 12px;
}
dt{
	text-decoration: underline;
 	font-weight: bold;
	padding: 5px;
}
dl{
	font-family: helvetica;
}
#selected_works{
	padding: 0 300px 0 300px;
	margin: 0 100px 0 100px;
}
.bottom-nav {
	background-color: lightgreen;
	border: 5px groove darkgreen;
	border-radius: 10px;
	font-size: 20px;
	width:100%;
    padding: 20px;
	text-align: center;
 	 -webkit-box-sizing: border-box;
     	-moz-box-sizing: border-box;
          box-sizing: border-box;
}
p2{
	font-size: 15px;
}
.bibliography{
	font-size: 10px;
}
.smalltext {
	font-size: 10px;
}